params {
//output directory
outdir="results"
//the genome is large > 4Gb
large=false
}

process {
    withName: 'PRINT_VERSIONS' {
        cpus = 1
        memory = 1.GB
    }
    
   withName: 'SAMTOOLS_FAIDX' {
        cpus = 1
        memory = 1.GB
    }

    withName: 'CHROMAP_INDEX' {
        cpus = 10
        memory = 100.GB
    }

    withName: 'CHROMAP_ALIGN' {
        cpus = 44
        memory = 100.GB
    }

    withName: 'YAHS_SCAFFOLD' {
        cpus = 10
        memory = 100.GB
    }


    withName: 'JUICER_PRE' {
        cpus = 10
        memory = 100.GB
    }

    withName: 'ASSEMBLY_STATS' {
        cpus = 1
        memory = 10.GB
    }

}

profiles {
    uoh {
        process {
            executor = 'slurm'
            queue = 'uohhm'
            conda = '$baseDir/conda.yml'
        }

        params {
            juicerToolsJar = '$baseDir/bin/juicer_tools_1.11.09_jcuda.0.8.jar'
        }
    }

    conda {
        process.conda = '$baseDir/conda.yml'
    }

   leftraru {
        process {
            executor = 'slurm'
            queue = 'main'
            conda = '$baseDir/conda.yml'
        }

        params {
            juicerToolsJar = '$baseDir/bin/juicer_tools_1.11.09_jcuda.0.8.jar'
        }
    }

}


def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}


manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/digenoma-lab/hic-scaffolding-nf'
    author = 'Alex Di Genova'
    version = '1.0'
}
