process {
    memory = '100 GB'
    time = '1d'

    withName: 'CHROMAP_ALIGN' {
        cpus = 12
        publishDir = [ path: 'out/chromap', mode: 'copy' ]
    }
    withName: 'YAHS_SCAFFOLD' { publishDir = [ path: 'out/scaffolds', mode: 'copy' ] }
    withName: 'JUICER_PRE' { publishDir = [ path: 'out/juicebox_input', mode: 'copy' ] }
    withName: 'PRINT_VERSIONS' { publishDir = [ path: 'out/', mode: 'copy' ] }
    withName: 'ASSEMBLY_STATS' { publishDir = [ path: 'out/scaffolds', mode: 'copy' ] }
}

profiles {
    uoh {
        process {
            executor = 'slurm'
            queue = 'uohhm'
            conda = '/mnt/beegfs/home/cmoraga/micromamba/envs/hic-scaffolding-nf/'
        }

        params {
            juicerToolsJar = '/mnt/beegfs/labs/AGENsLab/Hoffmannseggia/analysis/asm/HIC/juicer_tools_1.11.09_jcuda.0.8.jar'
        }
    }

    conda {
        process.conda = '$baseDir/conda.yml'
    }
}

manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/WarrenLab/hic-scaffolding-nf'
    author = 'Edward S. Rice'
    version = '0.0.1'
}
